*{
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width:100%;
    padding: px;
}
#login_form{
    background-color: #01051d93;
    width: 70vh;
    height: 60vh;
    padding:20px;
    border-radius: 25px;
    color: aliceblue;
}
.box1{
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input{
    width: 90%;
    height: 30px;
    border-radius: 25px;
    border: none;
    padding: 2px 5px 2px 11px;
}
.box2{
    display:flex;
    flex-direction: row;
    font-size: 12px;
    margin: 10px;
    justify-content: space-between;
    padding: 0px 10px 0 10px ;
}
#forg{
    text-decoration: none;
    color: aliceblue;
}
#remember{
    height: 10px;
    width: 10px;
    border: none;
}

#login{
    background-color:#000a42;
    color:aliceblue;
}
#dont_acc{
    font-size: 11px;
}
body {
    background-color:rgb(199, 215, 230) !important ; 
}
