*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main_content{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;   
    align-items: center;
    background-color:#7d80834a;
}
.container{
    background-color:rgba(240, 248, 255, 0.942);
    height: 50vh;
    width: 32vh;
    border-radius: 12px;

}
.container:hover{
    background-color: aqua;

}
